{% extends "base.html" %}

{% block content %}
<div class='text-center'>
    <h1>Somos a Periféricos DF</h1>
    <h3>Um pouco mais sobre nós!</h3>
    <p>Os desktops estão sofrendo uma transformação e se tornando em verdadeiras máquinas para entretenimento
        no qual chamamos de PC Gamer! Hoje, o mercado que mais cresce é o de computador gamer voltado para jogos e
        entusiastas. </p>
    <p> A Periféricos DF já sabendo dessa tendência e vem oferecendo os melhores periféricos do mercado que cabem no
        bolso do consumidor brasileiro.</p>

    <p> Somos a primeira loja a oferecer certificado de qualidade e testes rigorosos o que assegura a nossos clientes
        receber o melhor produto e confiança.</p>

    <p> Somos a primeira loja a oferecer o melhor pós-venda para nossos clientes VIP's e Garantia avançada pois para nós
        cada cliente é único e especial e devem ser tratados da mesma forma.</p>

    <p> A Periféricos DF sempre está em primeiro lugar das lojas de periféricos sendo considerada a mais querida e que
        mais respeita o consumidor.</p>
</div>

{% endblock %}